nav{
    background-color: #ff9f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

nav .header__logo{
    text-transform: uppercase;
    color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.navbar li a:hover{
    color: red;
}

/* nav cart  */
nav .nav-cart{
    cursor: pointer;
    position: relative;
}
nav .nav-cart i{
    color: #fff;
    
}

.fa-shopping-cart{
    position: relative;
    z-index: 10;
}
nav .nav-cart span {
    position: absolute;
    top:-12px;
    right: -7px;
    background: crimson;
    font-size: 10px;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
    z-index: 1;
}

.nav__icon, .nav__close, .nav__toggle{
    display: none;
}

/*============================== Responsive Media Screen ============================== */


@media screen and (max-width: 768px) {
    .header{
        bottom:initial;
        top: 0;
    }

    .navbar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

    nav .nav-cart{
        padding: 0 20px;
    }

    nav .nav-cart span {
        right: 10px;
    }

    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: #ff9f00;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    .show-menu{
        top: 0;
    }

    .nav__close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
    }

    .nav__close:hover{
        color: var(--title-color-dark);
    }

    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
        color: #fff;
    }

    .nav__icon, .nav__close, .nav__toggle{
        display: block;
    }

  }